<!DOCTYPE html>
<!--
Source: index.html  este es un archivo de prueba..
Author: MTI. Melquizedec Moo Medina
Description: Pagina para realizar pruebas de Git-hub
Date: 28/09/2018
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Encabezado de prueba de Git</div>
        <div>subencabezado</div> 
        <div>
        <h1>Test de Sincronización del proyecto en Git.</h1>
        <ol>
            <li>Realiza Pull:  menu Team->Remote->Pull</li>
            <li>Escribe tu nombre en la lista de nombres, entre las etiquetas "< li >"</li>
            <li>Realiza el commit:  en menu Team->Commit, con el Mensaje del commit como "Test para editar en git"</li>
            <li>Realiza Push para subir los cambios en: Team->Remote->Push </li>
        </ol>
        Nota:  Recuerda que este proceso se debe llevar a cabo siempre que vayas a escribir codigo.
        
        <h2>Lista de Nombres</h2>
        <ol>
            <li>MTI. Melquizedec Moo Medina</li>
            <li>Carlos Alan Castro Narvaez</li>
            <li>Aurora del Rocio Basto Cetzal</li>
            <li>Ricardo Caamal Poot</li>
            <li>Christian Eduardo Garcia Chan</li>
            <li>Glendy Cruz Canul <3</li>
            <li>Aaron Emmanuel Pech Heredia</li>
            <li>Néstor Alejandro Gómez Reyna</li>
            <li>Miguel Ángel García Uc</li>
            <li>Jacob Alejandro Luna Caamal</li>
            <li>José Luis Rivera Avelino</li>  
            <li>Brayan Oswaldo Cetina Arguelles</li>
            <li>Juan Carlos Rodriguez Burgos</li>  

        </ol>
        </div>
    </body>
</html>
