<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Test de Sincronización del proyecto en Git.</h1>
        <ol>
            <li>Realiza Pull </li>
            <li>Escribe tu nombre en la lista de nombres, entre las etiquetas "< li >"</li>
            <li>Realiza el commit:  en menu Team->Commit, escribe el Mensaje del commit como "Test para editar en git"</li>
            <li>Realiza Push para subir los cambios </li>
        </ol>
        Nota:  Recuerda que este proceso se debe llevar a cabo siempre que vayas a escribir codigo.
        
        <h2>Lista de Nombres</h2>
        <ol>
            <li>MTI. Melquizedec Moo Medina</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>    
        </ol>
        <div>TODO write content</div>
    </body>
</html>
